*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--text-color);
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

:root {
    --backgrond: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;
  }

body{
    background: var(--backgrond);
    background-image: 
        url("../assets/blur-1.png"),
        url("../assets/blur-2.png");
        background-repeat: no-repeat, no-repeat;
        background-position: left bottom, right top;
    box-sizing: border-box;
}
/* aqui começa a parte do cabeçalho*/

.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    padding: 20px 20px;
}

.menu{
    display: flex;
    list-style-type: none;
    gap: 1.5em;
}

.nav li{
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 20px;
    letter-spacing: 2px;
}

.nav li:hover{
     border-bottom: 1px solid var(--button); 
    cursor: pointer;
}

.btn-cafe{
    display: block;
    padding: 11px 38px;
    border: 2px solid var(--button);
    border-radius: 10px;
    background-color: transparent;
}

/* aqui termina a parte do cabeçalho*/

/* aqui começa a parte do conteudo*/

.content{
    height: 90vh;   
    max-width: 800px;
    min-width: 320px; 
    margin: auto;
    text-align: center;
}

.titulo , .sub-titulo{
    font-weight: 700;
    font-size: 70px;
}

.sub-titulo{
    color: #000;
    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}

.img-coffee{
    width: 100%;
}
/* aqui termina a parte do conteudo*/


/* aqui começa a parte do conteudo mobile*/

.content-mobile{
    display: none;
    gap: 10px;
}

.titulo-mobile{
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-align: center;
}

.btn-abrir-mobile{
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-cafe-mobile{
    padding: 10px 30px;
    border-radius: 6px;
    gap: 10px;
    border: 1px solid var(--button);
    background: transparent;
    margin-bottom: 30px;
}

@media (min-width: 1200px){
    .content{
        box-sizing: border-box;
    }
}

@media (max-width: 1000px){
    body{
        background-image: none;
    }
    .content-mobile{
        display: block;
    }
    .btn-abrir-mobile{
        display: block;
    }
    .btn-cafe{
        display: none;
    }
    .cabecalho{
        justify-content: space-between;
    }
    /* aqui começa a parte da criação do nav pra mobile */
    .menu{
        display: none;
        position: absolute;
        width: 100vw;
        height: 90vh;
        top: 10vh;
        right: 0;
        background: #000;
        z-index: 1000;
    }
    #nav.active .menu{
        display: block;
        overflow-y: auto;
/*        transform: translateY(100%);
        transition: transform 0.3s ease-in;*/
    }
    .menu li{
        border-bottom: 1px solid #29292E;
        cursor: pointer;
        color: #A8A8B3;
        padding: 1rem 0rem;
        opacity: 0;
    }
    .menu li:hover{
        border-left: 3px solid var(--button);
    }
}

@media (max-width: 900px){
    .titulo, .sub-titulo{
        font-size: 50px;
    }
}

@media (max-width: 800px){
    .titulo-mobile{
        font-size: 26px;
        line-height: 32px;
    }
}

@media (max-width: 450px){
    .content{
        background-image: url("../assets/blur-mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}


/* animção para os links do navbar */
@keyframes navlist{
    from{
        opacity: 0;
        transform: translateX(100px);
    }to{
        opacity: 1;
        transform: translateX(0);
    }
}
